body {
    margin: 20px;
    text-align: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

main {
    background-color: white;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    margin-top: 100px;
}



h2,
h2 {
    font-size: 33px;
}

.search_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(240, 240, 240);
}

button img {
    width: 30px;
    height: 40px;
}

input {
    height: 40px;
    width: 300px;
    font-size: 30px;
}

section {
    position: relative;
    width: 60%;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(151, 151, 151);
    background-blend-mode: multiply;
    color: whitesmoke;
}

.degree {
    position: absolute;
    left: 20px;
    top: 0px;
    font-size: 80px;
    margin: 0;
}


.sun {
    background-image: url(./sun.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
}